In [1]:
import pandas as pd
from functools import reduce

pd.set_option('display.max_columns', None)

In [2]:
#read csvs

lab = pd.read_csv('../Data/CSVs/SA2_LabourStatus.csv')
dist = pd.read_csv('../Data/CSVs/SA2-DistToWork.csv')
comm = pd.read_csv('../Data/CSVs/SA2-CommDevProgPart.csv')
birthc = pd.read_csv('../Data/CSVs/SA2-Birthcountry.csv')
childc = pd.read_csv('../Data/CSVs/SA2-childcare.csv')
corea = pd.read_csv('../Data/CSVs/SA2-CoreActivityAss.csv')
educ = pd.read_csv('../Data/CSVs/SA2-Education.csv')
train = pd.read_csv('../Data/CSVs/SA2-EmploymentTraining.csv')
indus = pd.read_csv('../Data/CSVs/SA2-Industry.csv')
occup = pd.read_csv('../Data/CSVs/SA2-OccupationGroup.csv')
income = pd.read_csv('../Data/CSVs/Sa2-PersonalIncome.csv')
english = pd.read_csv('../Data/CSVs/SA2-ProfEnglish.csv')
marital= pd.read_csv('../Data/CSVs/SA2-RegMaritalStatus.csv')
sector = pd.read_csv('../Data/CSVs/SA2-Sector.csv')
unpaid = pd.read_csv('../Data/CSVs/SA2-UnpaidDomesticWork.csv')
volun = pd.read_csv('../Data/CSVs/SA2-VoluntaryWork.csv')

Allcsvs = ['lab','dist','comm','birthc','childc','corea','educ',
           'train','indus','occup','income','english','marital','sector','unpaid','volun']

In [3]:
#function to calculate the total 

def calculatePercentage(df):
    #iterate through columns and calculate percentage for all columns
    for col in df.columns:
        if(col != 'SA2') and (col != 'Total'):
            df[col] = round((df[col] * 100 )/df['Total'],2)
    return df

In [17]:
# calculate percentage
# dist['Nil distance'] = round((dist['Nil distance'] * 100 )/dist['Total'],2)

# for csv in Allcsvs:
#     print(len(csv))

len(Allcsvs)

16

In [4]:
#calculate the percentage for all the dataframes

dist = calculatePercentage(dist)
comm= calculatePercentage(comm)
lab = calculatePercentage(lab)
birthc= calculatePercentage(birthc)
childc= calculatePercentage(childc)
corea= calculatePercentage(corea)
educ= calculatePercentage(educ)
train= calculatePercentage(train)
indus= calculatePercentage(indus)
occup= calculatePercentage(occup)
income= calculatePercentage(income)
english= calculatePercentage(english)
marital= calculatePercentage(marital)
sector= calculatePercentage(sector)
unpaid= calculatePercentage(unpaid)
volun= calculatePercentage(volun)

In [10]:
#check if all the csvs are calculated for percentage
#lab.head(3)
#dist.head(3)
#comm.head(3)
#birthc.head(3)
#childc.head(3)
#corea.head(3)
#educ.head(3)
#train.head(3)
#indus.head(3)
#occup.head(3)
#income.head(3)
#english.head(3)
#marital.head(3)
#sector.head(3)
#unpaid.head(3)
#volun.head(3)

,SA2,Nil distance,Over 0 km to less than 2.5 km,2.5 km to less than 10 km,10 km to less than 30 km,30 km to less than 50 km,50 km to less than 250 km,250 km and over
0,Braidwood,8.22,13.00,2.92,7.96,1.06,28.65,2.12
1,Karabar,2.26,7.14,18.43,45.98,0.81,0.27,0.00
2,Queanbeyan,1.73,13.75,14.93,40.75,0.38,0.22,0.49

In [9]:
#remove unwanted columns from the dataframes
dist = dist.drop([col for col in dist.columns if 'Not applicable' in col], axis=1)
comm = comm.drop([col for col in comm.columns if 'Not applicable' in col], axis=1)
comm = comm.drop([col for col in comm.columns if 'Not stated' in col], axis=1)
birthc = birthc.drop([col for col in birthc.columns if 'Not stated' in col], axis=1)
childc = childc.drop([col for col in childc.columns if 'Not stated' in col], axis=1)
corea = corea.drop([col for col in corea.columns if 'Not stated' in col], axis=1)
educ = educ.drop([col for col in educ.columns if 'Not stated' in col], axis=1)
train = train.drop([col for col in train.columns if 'Not Stated' in col], axis=1)
indus = indus.drop([col for col in indus.columns if 'Not applicable' in col], axis=1)
indus = indus.drop([col for col in indus.columns if 'Not stated' in col], axis=1)
indus = indus.drop([col for col in indus.columns if 'Inadequately described' in col], axis=1)
occup = occup.drop([col for col in occup.columns if 'Not applicable' in col], axis=1)
occup = occup.drop([col for col in occup.columns if 'Not stated' in col], axis=1)
occup = occup.drop([col for col in occup.columns if 'Inadequately described' in col], axis=1)
income = income.drop([col for col in income.columns if 'Not stated' in col], axis=1)
english = english.drop([col for col in english.columns if 'Not applicable' in col], axis=1)
english = english.drop([col for col in english.columns if 'Not stated' in col], axis=1)
sector = sector.drop([col for col in sector.columns if 'Not applicable' in col], axis=1)
sector = sector.drop([col for col in sector.columns if 'Not stated' in col], axis=1)
unpaid = unpaid.drop([col for col in unpaid.columns if 'Not stated' in col], axis=1)
volun = volun.drop([col for col in volun.columns if 'Not stated' in col], axis=1)
# remove total columns
dist = dist.drop([col for col in dist.columns if 'Total' in col], axis=1)
comm = comm.drop([col for col in comm.columns if 'Total' in col], axis=1)
birthc = birthc.drop([col for col in birthc.columns if 'Total' in col], axis=1)
childc = childc.drop([col for col in childc.columns if 'Total' in col], axis=1)
corea = corea.drop([col for col in corea.columns if 'Total' in col], axis=1)
educ = educ.drop([col for col in educ.columns if 'Total' in col], axis=1)
marital = marital.drop([col for col in marital.columns if 'Total' in col], axis=1)
train = train.drop([col for col in train.columns if 'Total' in col], axis=1)
indus = indus.drop([col for col in indus.columns if 'Total' in col], axis=1)
occup = occup.drop([col for col in occup.columns if 'Total' in col], axis=1)
income = income.drop([col for col in income.columns if 'Total' in col], axis=1)
english = english.drop([col for col in english.columns if 'Total' in col], axis=1)
sector = sector.drop([col for col in sector.columns if 'Total' in col], axis=1)
unpaid = unpaid.drop([col for col in unpaid.columns if 'Total' in col], axis=1)
volun = volun.drop([col for col in volun.columns if 'Total' in col], axis=1)

In [ ]:
#check the length of all the csvs

#len(dist), len(comm), len(lab),
#len(birthc),len(childc),len(corea),
#len(educ),len(train),
#len(indus),len(occup),len(income),len(english),
#len(marital),len(sector),len(unpaid),len(volun)

In [11]:
#merge all the dataframes based on SA2

data_frames= [lab,dist,comm,birthc,childc,corea,educ,train,indus,occup,income,english, marital,sector,unpaid,volun]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['SA2'],
                                            how='outer'), data_frames)

In [13]:

df_merged.head(3)

,SA2,"Employed, worked full-time","Employed, worked part-time","Employed, away from work","Unemployed, looking for full-time work","Unemployed, looking for part-time work",Not in the labour force,Not stated,Total,Nil distance,Over 0 km to less than 2.5 km,2.5 km to less than 10 km,10 km to less than 30 km,30 km to less than 50 km,50 km to less than 250 km,250 km and over,Participant in the Community Development Programme,Not a participant in the Community Development Programme,Oceania and Antarctica,North-West Europe,Southern and Eastern Europe,North Africa and the Middle East,South-East Asia,North-East Asia,Southern and Central Asia,Americas,Sub-Saharan Africa,Supplementary codes,Did not provide child care,Cared for own child/children,Cared for other child/children,Cared for own child/children and other child/children,Has need for assistance with core activities,Does not have need for assistance with core activities,Postgraduate Degree Level,Graduate Diploma and Graduate Certificate Level,Bachelor Degree Level,Advanced Diploma and Diploma Level,Certificate III & IV Level,Secondary Education - Years 10 and above,Certificate I & II Level,Secondary Education - Years 9 and below,Supplementary Codes,Fully engaged,Partially engaged,At least partially engaged,Not Engaged,"Agriculture, Forestry and Fishing",Mining,Manufacturing,"Electricity, Gas, Water and Waste Services",Construction,Wholesale Trade,Retail Trade,Accommodation and Food Services,"Transport, Postal and Warehousing",Information Media and Telecommunications,Financial and Insurance Services,"Rental, Hiring and Real Estate Services","Professional, Scientific and Technical Services",Administrative and Support Services,Public Administration and Safety,Education and Training,Health Care and Social Assistance,Arts and Recreation Services,Other Services,Managers,Professionals,Technicians and Trades Workers,Community and Personal Service Workers,Clerical and Administrative Workers,Sales Workers,Machinery Operators and Drivers,Labourers,Negative income,Nil income,"$1-$149 ($1-$7,799)","$150-$299 ($7,800-$15,599)","$300-$399 ($15,600-$20,799)","$400-$499 ($20,800-$25,999)","$500-$649 ($26,000-$33,799)","$650-$799 ($33,800-$41,599)","$800-$999 ($41,600-$51,999)","$1,000-$1,249 ($52,000-$64,999)","$1,250-$1,499 ($65,000-$77,999)","$1,500-$1,749 ($78,000-$90,999)","$1,750-$1,999 ($91,000-$103,999)","$2,000-$2,999 ($104,000-$155,999)","$3,000 or more ($156,000 or more)",Very well,Well,Not well,Not at all,Never married,Widowed,Divorced,Separated,Married,National Government,State/Territory Government,Local Government,Private sector,Nil hours,Less than 5 hours,5 to 14 hours,15 to 29 hours,30 hours or more,Not a volunteer,Volunteer
0,Braidwood,30.50,28.12,5.57,0.80,1.33,22.28,11.41,377,8.22,13.00,2.92,7.96,1.06,28.65,2.12,0.0,0.0,81.17,3.71,0.80,1.33,2.92,0.00,1.86,0.80,1.59,0.0,30.24,51.46,5.04,1.06,1.86,84.62,4.51,4.24,23.61,10.88,13.26,24.14,0.00,1.86,2.92,38.73,23.34,5.31,20.95,2.39,0.0,2.92,0.00,0.80,1.06,3.18,4.51,1.86,1.33,1.86,1.06,5.04,2.39,10.88,8.49,6.90,2.12,3.45,8.22,17.51,4.77,9.81,15.12,5.84,0.00,2.39,0.00,5.57,4.51,7.69,8.49,6.63,9.02,9.55,7.16,7.69,5.57,5.84,3.71,3.98,1.86,3.18,1.06,0.00,0.0,36.34,0.80,6.63,3.45,53.32,9.55,8.75,0.80,45.36,6.37,12.47,30.24,20.95,20.69,56.50,33.95
1,Karabar,45.80,24.12,5.87,1.72,1.99,15.00,6.05,1107,2.26,7.14,18.43,45.98,0.81,0.27,0.00,0.0,0.0,80.13,1.81,2.71,0.00,3.25,0.45,2.26,1.17,0.81,0.0,38.93,48.60,3.34,3.25,2.17,91.42,3.43,3.61,16.98,13.01,16.17,32.97,0.00,3.61,2.62,48.78,22.49,5.51,17.25,0.45,0.0,1.54,0.45,1.36,0.72,6.68,3.34,2.17,0.72,1.17,1.36,4.25,3.25,23.94,7.50,12.83,0.45,2.62,8.76,15.90,2.62,10.75,23.76,6.68,1.08,4.61,0.54,3.79,2.08,4.16,5.33,5.33,7.05,12.20,11.02,10.57,11.47,8.22,4.70,7.41,0.36,9.49,4.61,0.27,0.0,41.46,0.36,4.79,4.16,49.77,21.32,9.30,0.63,43.36,11.83,15.09,32.70,17.34,16.62,76.69,17.07
2,Queanbeyan,43.72,22.96,6.15,1.67,1.83,14.45,9.16,1855,1.73,13.75,14.93,40.75,0.38,0.22,0.49,0.0,0.0,64.64,2.48,2.16,1.67,4.74,2.32,11.48,1.02,1.02,0.0,47.98,37.04,4.31,0.97,2.43,88.63,8.63,4.10,24.37,10.89,13.85,23.88,0.27,1.24,2.59,51.27,19.19,5.50,14.88,0.00,0.0,1.35,0.32,1.56,0.75,5.71,3.88,1.08,1.24,1.51,1.40,4.53,2.21,19.73,6.47,14.66,1.13,2.37,8.14,18.49,3.72,12.72,18.38,5.71,0.38,3.18,0.43,6.31,2.05,3.07,3.72,4.69,7.65,9.87,10.03,11.59,10.57,8.73,5.12,4.85,1.19,16.55,8.63,1.29,0.0,43.18,0.49,5.93,3.45,47.12,18.92,8.03,0.16,44.42,12.02,19.25,35.20,12.18,11.54,72.18,18.27

In [18]:
df_merged.to_csv('../Data/ProcessedCsvs/merged.csv')